@model IEnumerable<BookShop.Models.Book>

@{
    ViewData["Title"] = "Index";
    string hasImage (Book book)
    {
        if (book.ImgUrl!=""&& book.ImgUrl!=null)
        {
            return "fa-solid fa-check";
        }
        else
        {
            return "fa-solid fa-x";
        }
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book"></i> Add Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePunished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Has Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePunished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                    <i class="@hasImage(item)"></i>
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary "> <i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success "> <i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger "><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
